<div id='root'>
	<div id="nav-ctrl">
		<ul class="nav navbar-nav">
			<li><a href="#sys-work-menu"><span class="glyphicon glyphicon-list"></span>菜单</a></li>
			<li style="display:none;"><a href="#setting"><span class="glyphicon glyphicon-cog"></span>设置</a></li>
		</ul>
	</div><!--.header-menu end-->

	<div id="nav-menu">
	    <ul class="nav navbar-nav navbar-right" id="setting">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" id="view-resize" data-cur-view="reset" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>视口 <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a class="resetCtrl" data-view="reset" href="#"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>正常</a></li>
					<li><a class="treeCtrl" data-view="tree" class="tree-view" href="#"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>显示树</a></li>
					<li><a class="ctnCtrl" data-view="ctnt" href="#"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>隐藏树</a></li>
					<!--  <li role="separator" class="divider"></li>
					<li><a href="#">Separated link</a></li> -->
				</ul>
			</li>
			<li><a href="#">退出登录</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right" id="sys-work-menu" style="display:none;">
	    	{{#list}}
	    		<li><a href="#">{{name}}</a></li>
	    	{{/list}}
	    </ul>
	</div><!--.header-menu end-->

	<div id="template-container">
		<div id="mode1" class="nav-mode">
			<div class="data-container">
				aaaaaaaaaaaaaaaa
			</div>
			<div class="data-container">
				baaaaaaaaaaaaaaa
			</div>
			<div class="data-container">
				caaaaaaaaaaaaaaa
			</div>
		 </div>

		 <div id="mode2" class="nav-mode">
		 	<div class="data-container">
		 		daaaaaaaaaaaaaaaa
		 	</div>
		 	<div class="data-container">
		 		eaaaaaaaaaaaaaaaa
		 	</div>
		 	<div class="data-container">
		 		faaaaaaaaaaaaaaaa
		 	</div>
		 </div>
	 </div>
</div>