body{
	background-color: #f7f7f7;
}

a > span{
	margin-right: 5px;
}

.dropdown-menu {
	background-color: #f7f7f7;
}

#header{
	background-color: #0d394f;
	color: #fff ;
}

.navbar-default .navbar-brand{
	color: #eee ;
	padding: 15px 0;
}

.navbar-default .navbar-brand:hover{
	color: #eee ;
	padding: 15px 0;
}


.header-menu > .navbar-nav > li > a{
	color: #eee;
}

.header-menu > .navbar-nav > li > a:hover{
	color: #eee;
	background-color: #0067a6;
}

.header-menu > .navbar-nav > li > a:focus{
	color: #eee;
	background-color: #00a6e9;
}

.navbar-default .navbar-nav > .open > a{
	color: #eee;
	background-color: #00a6e9;
}

.navbar-default .navbar-nav > .open > a:focus{
	color: #eee;
	background-color: #00a6e9;
}

.brand-content{
	margin: 0 auto;
}

#aside{
	background-color: #f7f7f7;
}

#aside > ul{
	box-shadow: 2px 2px 4px #aaa;
}

#aside li{
	background-color: #e1e1e1;
}

.aside-menu li.active > a, .aside-menu li.active > a:focus, .aside-menu li.active > a:hover {
    background-color: #00a6e9;
    color: #fff;
}

#aside ul.collapse li{
	weight:100%;
}

#aside .list-group{
	margin-bottom: 0px;
}

#class1-menu{
	margin-bottom:20px;
}

#rtn-main{
	margin-bottom: 10px;
}

.class2-menu .menu-title a{
	background-color: #2ecc71;
	color: #fff;
}

.class2-menu .menu-title a:hover,.class2-menu .menu-title a:focus,.class2-menu .menu-title a:active{
	background-color: #2ecc71;
	color: #fff;
}

#tree{
	padding: 0;
}

.tree-container{
	min-height: 600px;
	box-shadow: 2px 2px 4px #aaa;
	border: 1px solid #eee;
}

.tree-header{
	min-height: 40px;

	padding: 5px;
}

.tree-header{
}

.tree-body{
	position: relative;
	padding:0;
}

.tree{
	position: absolute;
	width: 100%;
	height: 550px;
	padding: 10px;
	overflow-y: scroll; 
}

.tree > ul{
	margin-left: -40px;
	margin-top: 3px;
}

.big-tree .tree > ul{
	margin-left: 25px;
	margin-top: 20px;
}

.tree ul{
	list-style-type: none;
}

.tree ul > span ,.tree ul li > span{
	padding: 2px 4px;
	border: 1px solid #ccc;
} 

.big-tree .tree ul > span ,.big-tree .tree ul li > span{
	padding: 10px 40px;
	//border: 1px solid #ccc;
	font-size: 15px;
} 

.tree li{
	position:relative;
}

.tree li:before , .tree li:after{
	position: absolute;
	content:'';
    right:auto
} 

.tree ul li:before {
    border-left:1px dashed #0d394f;
    width:1px;
    height: 100%;
    left: -10px;
    top: -12px;
    width: 1px;
}

.big-tree .tree ul li:before {
    border-left:1px dashed #0d394f;
    width:1px;
    height: 348%;
    left: -10px;
    top: -20px;
    width: 1px;
}

.tree li:after {
    border-top:1px dashed #0d394f;
    height: 20px;
    left: -10px;
    top: 7px;
    width: 11px;
}

.tree ul > li{
	margin-left: 17px;
	margin-top: 12px;
}

.big-tree .tree ul > li{
	margin-left: 56px;
	margin-top: 30px;
}

.tree ul > li + li:before{
	height: 130%;
    left: -10px;
    top: -24px;
    width: 1px;
}

.big-tree .tree ul > li + li:before{
	height: 137%;
    left: -10px;
    top: -50px;
    width: 1px;
}

.tree ul > li > ul{
	margin-left: -36px;
}

.tree span > span ,.tree span > a{
	margin-right: 10px;
}

.tree span > a > span{
	padding-right:3px; 
}

.tree ul > span,.tree li > span{
	//background-color: #d0d8de;
	color: #555;
}

.tree ul li.last-child:before{
	height: 70px;
	top:-63px;
}

.big-tree .tree ul li.last-child:before{
	height: 132px;
	top:-124px;
}

.tree a{
	color: #555;
}

.tree a:hover{
	cursor: default;
}

.tree a + a:hover,.tree span + a:hover{
	cursor: pointer;
}

.tree a + a:hover,.tree a + a:focus,.tree a + a:active,.tree span + a:hover,.tree span + a:focus,.tree span + a:active{
	color: #5bc0de;
	text-decoration: none;
}

#main-container{
	min-height: 600px;
	box-shadow: 2px 2px 4px #aaa;
	border: 1px solid #eee;
	padding-top: 10px;
}

#template-container{
	position: relative;
	height: 100%;
}

.nav-mode{
	margin-bottom: 20px;
	height: 50%;
}


.tab-ctnt{
	border-width:0 2px 2px 2px;
	border-style: solid;
	border-color: #ccc;
	height: 220px;
	padding: 10px;
	margin-top: -5px;
}

#template-container > .nav-mode li.active{
	height: 0px;
	margin-top: 0;
}

#template-container > .nav-mode li.active > a{
	background-color:transparent;
	color: #777;
	border-width:2px 2px 0 2px;
	border-style: solid;
	border-color: #ccc;
}

#template-container > .nav-mode li > a{
	background-color: #eee;
	color: #777;
	border-width:1px 1px 2px 1px;
	border-style: solid;
	border-top-color: #f7f7f7;
	border-left-color: #f7f7f7;
	border-right-color: #f7f7f7;
	border-bottom: 2px soild #555;
}
