body{
	background-color: #f7f7f7;
}

.dropdown-menu {
	background-color: #f7f7f7;
}

#header{
	background-color: #0d394f;
	color: #fff ;
}

.navbar-default .navbar-brand{
	color: #eee ;
	padding: 15px 0;
}

.navbar-default .navbar-brand:hover{
	color: #eee ;
	padding: 15px 0;
}


.header-menu > .navbar-nav > li > a{
	color: #eee;
}

.header-menu > .navbar-nav > li > a:hover{
	color: #eee;
	background-color: #0067a6;
}

.header-menu > .navbar-nav > li > a:focus{
	color: #eee;
	background-color: #00a6e9;
}

.navbar-default .navbar-nav > .open > a{
	color: #eee;
	background-color: #00a6e9;
}

.navbar-default .navbar-nav > .open > a:focus{
	color: #eee;
	background-color: #00a6e9;
}

.brand-content{
	margin: 0 auto;
}

#aside{
	background-color: #f7f7f7;
}

#aside li{
	background-color: #e1e1e1;
}

.aside-menu li.active > a, .aside-menu li.active > a:focus, .aside-menu li.active > a:hover {
    background-color: #00a6e9;
    color: #fff;
}

#aside ul.collapse li{
	weight:100%;
}

#aside .list-group{
	margin-bottom: 0px;
}

#class1-menu{
	margin-bottom:20px;
}

#rtn-main{
	margin-bottom: 10px;
}

.class2-menu .menu-title a{
	background-color: #2ecc71;
	color: #fff;
}

.class2-menu .menu-title a:hover,.class2-menu .menu-title a:focus,.class2-menu .menu-title a:active{
	background-color: #2ecc71;
	color: #fff;
}
